.accordion {
    
    // .accordion__item

    &__item {
        max-width: 550px;
        width: 100%;

        &[data-open] {
            .accordion__item-content {
                grid-template-rows: 1fr;
            }
        }

        // .accordion__item-title

        &-title {
            cursor: pointer;
        }

        // .accordion__item-content

        &-content {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.3s;

            // .accordion__item-content-height

            &-height {
                overflow: hidden;
                border-radius: 8px;
                background: #fff;
            }
        }
    }

    // .accordion__open

    &__open {
    }
}
