html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    line-height: 1.1;
    font-style: normal;
    color: #0a1b36;
    font-weight: 400;
    @include adaptive-value("font-size", 18, 14, 1);

    font-family: NunitoSans;
    background-color: #f6f9fc;

    &._noscroll {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }
}

.wrapper {
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $container + px;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }

    @media (max-width: 1440px) {
        padding-inline: 30px;
    }

    @media (max-width: 1024px) {
        padding-inline: 25px;
    }

    @media (max-width: 768px) {
        padding-inline: 15px;
    }
}

section {
    @include adaptive-value("margin-bottom", 180, 60, 1);
}

h1 {
    color: #fff;
    @include adaptive-value("font-size", 74, 37, 1);
    font-weight: 500;
    letter-spacing: -1.48px;

    @media (min-width: 1025px) {
        @include adaptive-value("font-size", 74, 60, 1);
    }

    @media (max-width: 1024px) {
        font-size: 60px;
        letter-spacing: -1px;
    }
    @media (max-width: 768px) {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0;
    }
}

h2 {
    @include adaptive-value("font-size", 32, 22, 1);
    @include adaptive-value("margin-bottom", 50, 25, 1);

    font-weight: 400;

    @media (max-width: 768px) {
        font-weight: 700;
    }
}

h3 {
    @include adaptive-value("font-size", 24, 16, 1);
    font-weight: 600;
    letter-spacing: -0.144px;
}

h4 {
    @include adaptive-value("font-size", 42, 24, 1);
    font-weight: 500;
}

._button {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptive-value("height", 50, 40, 1);
    width: fit-content;

    padding: 14px 28px;

    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    text-align: center;
    font-weight: 500;
    line-height: 0;

    @media (max-width: 992px) {
        padding: 14px 24px;
        font-weight: 400;
        border-radius: 4px;
    }
}
._button-dark {
    background-color: #0a1b36;
    color: #fff;
    border: unset;
}

._button-white {
    background-color: #fff;
    color: #0a1b36;
    border: unset;
}

._card-hover-btn {
    transition: all 0.3s ease 0s;

    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    background-color: #0a1b36;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    opacity: 0;
    visibility: hidden;

    @media (max-width: 992px) {
        border-radius: 4px;
    }

    svg,
    img {
        transition: all 0.3s ease 0s;
        pointer-events: none;
        stroke: #fff;

        height: 14px;
    }

    @media (any-hover: hover) {
        &:hover {
            svg {
                transform: scale(1.2);
            }
        }
    }
}

._main-text {
    @include adaptive-value("font-size", 48, 22, 1);
    line-height: 1.2;

    @media (max-width: 768px) {
        font-weight: 700;
    }
}

._small-text {
    color: #0a1b36;
    font-size: 14px;
    line-height: 1;
    opacity: 0.5;
}

figure,
img,
svg {
    display: block;
    width: 100%;
    max-width: 100%;
}
