.section {
    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }
}

.catalog {
    // .catalog__flex

    &__flex {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
        grid-template-rows: auto;
        gap: 20px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        @media (max-width: 425px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 360px) {
            grid-template-columns: 1fr;
        }

        article {
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            padding: 25px;
            border-radius: 8px;
            background: #fff;

            @media (max-width: 992px) {
                padding: 15px;
                border-radius: 4px;
            }

            @media (max-width: 360px) {
                height: 240px;
            }

            a {
                position: relative;
                z-index: 2;
                width: 100%;
                text-align: left;
            }

            div {
                height: 100%;

                img {
                    transition: all 0.4s ease 0s;
                    position: relative;
                    height: 100%;
                    object-fit: cover;
                }

                & > :last-child {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                    z-index: -1;
                    transform: scale(0);
                }
            }

           

            @media (any-hover: hover) {
                &:hover {
                    
                    a {
                        
                        text-decoration: underline;
                    }

                    button {
                        opacity: 1;
                        visibility: visible;
                    }

                    div {
                        & > :first-child {
                            opacity: 0;
                            visibility: hidden;
                            z-index: -1;
                            transform: scale(0);
                        }

                        & > :last-child {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}
