.grid {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;

    @media (max-width: 992px) {
        gap: 10px;
    }

    // .grid-2

    &-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    // .grid-5

    &-5 {
        grid-template-columns: repeat(5, 1fr);

        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .grid-4

    &-4 {
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .grid-3

    &-3 {
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .grid-item

    &-item {
    }
}

#catalog {
    .grid {
        & > :first-child {
            @media (max-width: 1200px) {
                grid-column: span 2;

                article {
                    padding-bottom: calc(50% - 10px);

                    @media (max-width: 768px) {
                        padding-bottom: 0;
                    }
                }
            }

            @media (max-width: 768px) {
                div {
                    height: 100%;

                    & > :first-child {
                        height: 100%;
                        width: auto;
                    }
                }
            }

            @media (max-width: 475px) {
                h3 {
                    max-width: 75%;
                }
            }
        }
    }
}

#products {
    .grid {
        @media (min-width: 1201px) {
            & > :first-child {
                grid-column: span 2;
                grid-row: span 2;

                max-height: 70%;

                article {
                    padding-bottom: 70%;
                }
            }

            & > :nth-child(4) {
                grid-column: span 2;
                grid-row: span 2;

                max-height: 70%;

                article {
                    padding-bottom: 70%;
                }
            }
        }
    }
}

#robusta {
    .grid {
        @media (min-width: 1201px) {
            & > :first-child {
                grid-column: span 1;
                grid-row: span 1;

                max-height: unset;

                article {
                    padding-bottom: unset;
                }
            }

            & > :nth-child(4) {
                grid-column: span 1;
                grid-row: span 1;

                max-height: unset;

                article {
                    padding-bottom: unset;
                }
            }
        }
    }
}

#page-advantages {

    .grid {
        & > :last-child {
            grid-column: unset;
            grid-row: span 1;
            order: 4;
        }
        & > :first-child {
            order: unset;
        }
        // .grid-4

        &-4 {
            grid-template-columns: repeat(4,1fr);

            @media (max-width: 1440px) {
                grid-template-columns: repeat(4, 345px);
            }
        }

        // .grid-item

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 25px;
            border-radius: 8px;
            background: #fff;

            max-width: unset;
            min-width: unset;

            svg {
                @include adaptive-value("height", 50, 40, 1);
                width: fit-content;
                fill: #0a1b36;
                @include adaptive-value("margin-bottom", 122, 50, 1);
            }

            @media (max-width: 992px) {
                border-radius: 8px;
                padding: 20px;
            }
        }
    }

    .about__scroll {
        @media (max-width: 1440px) {
            width: auto;
            margin-left: 0;
            padding-inline: 0;
            overflow-x: auto;

            padding-bottom: 25px;
            overflow-x: auto;

            &::-webkit-scrollbar {
                height: 3px;
                background-color: #0a1b36;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #eaaf00;
                border-radius: 4px;
            }
        }
    }
}
