.hero {
    position: relative;

    // .hero__top

    &__top {
        @include adaptive-value("padding-top", 200, 100, 1);

        @media (max-width: 768px) {
            position: relative;
            width: 100vw;
            margin-left: -15px;
            padding-left: 15px;
            padding-right: 15px;
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #0a1b36;
            z-index: -1;

            @media (max-width: 768px) {
            }
        }

        img {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;

            @media (max-width: 768px) {
                opacity: 0.8;
            }
        }
    }

    // .hero__container

    &__container {
        height: 100%;
    }

    // .hero__body

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include adaptive-value("padding-bottom", 50, 15, 1);

        height: 100%;

        h1 {
            max-width: 940px;
            width: 100%;

            @media (min-width: 768px) {
                @include adaptive-value("margin-bottom", 200, 60, 1);

                br {
                    display: none;
                }
            }

            @media (max-width: 768px) {
                margin-bottom: 190px;
            }
        }
    }

    .offer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px 15px 25px;
        border-radius: 8px;
        background-color: #fff;
        width: fit-content;

        @media (max-width: 1024px) {
            padding: 20px;
            border-radius: 4px;
        }

        @media (max-width: 768px) {
            padding: 15px;
            margin-top: 44px;
            width: 100%;
        }

        // .offer__info

        &__info {
            width: 100%;

            @media (min-width: 769px) {
                @include adaptive-value("margin-right", 50, 20, 1);
                max-width: 377px;
            }

            & > :not(:last-child) {
                @media (min-width: 1025px) {
                    @include adaptive-value("margin-bottom", 25, 15, 1);
                }

                @media (max-width: 1024px) {
                    margin-bottom: 35px;
                }
            }

            // .offer__info-title

            &-title {
                display: flex;
                align-items: center;

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #0a1b36;
                    color: #fff;
                    width: 44px;
                    height: 44px;
                    border-radius: 8px;
                    @include adaptive-value("font-size", 14, 12, 1);
                    font-weight: 400;
                    line-height: 1.1;
                    margin-right: 15px;
                    flex: 0 0 auto;

                    @media (max-width: 768px) {
                        width: 40px;
                        height: 40px;
                        border-radius: 4px;
                    }
                }

                a {
                    color: #0a1b36;
                    @include adaptive-value("font-size", 20, 15, 1);
                    font-weight: 600;
                    line-height: 1.2;
                    letter-spacing: -0.12px;

                    @media (any-hover: hover) {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            ._button {
                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }

        img {
            @media (min-width: 1025px) {
                @include adaptive-value("width", 250, 180, 1);
            }
            max-width: 220px;
            width: 100%;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    .timer {
        color: #0a1b36;

        // .timer__items

        &__items {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        // .timer__item

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                color: #0a1b36;
                opacity: 0.5;
                text-align: center;
                @include adaptive-value("font-size", 14, 12, 1);
            }

            span {
                color: #0a1b36;
                @include adaptive-value("font-size", 48, 32, 1);
                font-weight: 400;
                text-transform: uppercase;
            }
        }

        // .timer__days

        &__days {
        }

        // .timer__dots

        &__dots {
            padding-top: 15px;

            & > :first-child {
                margin-bottom: 5px;
            }
            span {
                width: 5px;
                height: 5px;
                background-color: #0a1b36;
                border-radius: 50%;
                display: block;

                @media (max-width: 768px) {
                    width: 3px;
                    height: 3px;
                }
            }
        }

        // .timer__hours

        &__hours {
        }

        // .timer__minutes

        &__minutes {
        }

        // .timer__seconds

        &__seconds {
        }
    }
}

#about-page {
    @include adaptive-value('padding-bottom', 400, 80, 1);
    
    .hero__top {
        @include adaptive-value('margin-bottom', 100, 80, 1);
        position: static !important;
        
        h1 {
            margin-bottom: 30px;
        }

        p {
            max-width: 650px;
            width: 100%;
            color: #fff;
        }
    }

    .hero__video {
        display: flex;
        align-items: center;

        svg {
            @include adaptive-value("height", 50, 20, 1);
            fill: #fff;
            margin-right: 20px;
            width: fit-content;
        }
        p {
            color: #fff;
        }
    }
}
