.section {
    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    ._section-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value("margin-bottom", 50, 25, 1);
    }
}

.about {
    // .about__info

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        border-radius: 8px;
        background-color: #fff;
        position: relative;
        overflow: hidden;

        @media (max-width: 1024px) {
            padding: 25px;
        }

        @media (max-width: 992px) {
            padding: 20px;
            border-radius: 4px;
            justify-content: flex-start;
        }

        @media (max-width: 768px) {
            padding: 20px 5px;
        }

        @media (max-width: 650px) {
            height: 450px;
        }

        @media (max-width: 550px) {
            height: 550px;
        }
        p {
            max-width: 410px;
            width: 100%;
            @include adaptive-value("margin-bottom", 100, 50, 1);

            @media (max-width: 992px) {
                max-width: 280px;
            }
        }

        ._main-text {
            max-width: 1347px;
            width: 100%;
            @include adaptive-value("margin-bottom", 25, 20, 1);

            @media (max-width: 1790px) {
                max-width: 1100px;
            }

            @media (max-width: 1200px) {
                max-width: 1000px;
            }

            @media (max-width: 1441px) {
                background-position: top right;
            }
        }

        background-image: url("@img/about-bgi.png");
        background-repeat: no-repeat;
        background-position: bottom right;

        @media (max-width: 1441px) {
            background-image: url("@img/about-bgi-mobile.png");
        }

        @media (max-width: 768px) {
            background-position: 100% 50px;
        }

        @media (max-width: 650px) {
            background-position: 100% 150px;
        }

        @media (max-width: 550px) {
            background-position: 100% 220px;
        }
    }

    // .about__scroll

    &__scroll {
        @media (max-width: 768px) {
            width: 100vw;
            margin-left: -15px;
            padding-inline: 15px;
            overflow-x: auto;

            &::-webkit-scrollbar {
                height: 3px;
                background-color: #0a1b36;
                border-radius: 4px;
                display: none;
            }
        }
    }

    // .about__flex

    &__flex {
        @include adaptive-value("margin-top", 80, 40, 1);
        display: flex;

        @media (max-width: 768px) {
            padding-bottom: 20px;
            width: fit-content;
        }

        .main__blok {
            @media (max-width: 768px) {
                min-width: 345px;
            }

            @media (max-width: 475px) {
                max-width: 300px;
                min-width: 300px;
            }
        }
    }

    // .about-item

    &-item {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px;
        background-color: #fff;
        border-radius: 8px;

        @media (max-width: 992px) {
            padding: 20px;
            border-radius: 4px;
        }

        span {
            white-space: nowrap;
            display: block;
            @include adaptive-value("margin-bottom", 50, 44, 1);

            @include adaptive-value("font-size", 64, 40, 1);
            font-weight: 500;

            &:before {
                content: "<";
            }
        }
    }

    .grid {
        flex: 1 1 auto;

        & > :last-child {
            grid-column: span 2;

            @media (max-width: 768px) {
                grid-column: unset;
                grid-row: span 2;
                order: 2;
            }
        }

        @media (max-width: 768px) {
            & > :first-child {
                order: 1;
            }

            & > :nth-child(2) {
                order: 3;
            }
        }

        &-item {
            @media (max-width: 768px) {
                min-width: 345px;
            }

            @media (max-width: 475px) {
                max-width: 300px;
                min-width: 300px;
            }
        }
    }
}

.main {
    // .main__blok

    &__blok {
        overflow: hidden;
        margin-right: 20px;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;

        max-width: 45%;
        width: 100%;
        padding: 50px;
        border-radius: 8px;
        background: #0a1b36;

        @media (max-width: 1024px) {
            padding: 25px;
        }

        @media (max-width: 992px) {
            padding: 20px;
            border-radius: 4px;
        }

        @media (max-width: 768px) {
            max-width: unset;
            flex: 0 0 345px;
        }

        div {
            position: relative;
            z-index: 1;
            margin-bottom: 50px;

            h4 {
                color: #fff;

                @include adaptive-value("margin-bottom", 50, 40, 1);
            }

            p {
                color: #fff;
                max-width: 410px;
                width: 100%;
            }
        }

        a {
            position: relative;
            z-index: 1;
        }

        &:after {
            content: "";
            position: absolute;
            right: -25px;
            bottom: -75px;
            height: 100%;
            width: 90%;
            background-image: url("@img/about-main-bgi.png");
            background-repeat: no-repeat;
            background-position: bottom right;
            mix-blend-mode: overlay;
            z-index: 0;
        }
    }
}

#partners {
    ._ticker {
        width: 100%;
        overflow: hidden;
        display: flex;
        position: relative;
        z-index: -1;

        @media (any-hover: hover) {
            &:hover {
                .ticker-text {
                    animation-play-state: paused;
                }
            }
        }

        ._ticker-text {
            display: grid;
            grid-template-columns: repeat(12, 345px);
            grid-template-rows: 345px;
            gap: 20px;

            @media (max-width: 992px) {
                grid-template-columns: repeat(12, 250px);
                grid-template-rows: 250px;
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(12, 150px);
                grid-template-rows: 150px;
            }

            a {
                border-radius: 8px;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 99px) {
                    border-radius: 4px;
                }

                img {
                    width: 80%;
                    object-fit: cover;
                    pointer-events: none;

                    @media (max-width: 768px) {
                        width: 70%;
                    }
                }
            }
        }
    }
}
